<div class="container">
<h3 class="mt-5 mb-4">NGModel Example</h3>
    <div style="width: 30%;">
        <select class="form-select" name="Brand" id="Brand" [(ngModel)]="model">
            <option value="Audi">Audi</option>
            <option value="BMW">BMW</option>
            <option value="Renault">Renault</option>
            <option value="Alfa Romeo">Alfa Romeo</option>
            <option value="Mercedes">Mercedes</option>
            <option value="Togg">Togg</option>
            <option value="Volkswagen">Volkswagen</option>
        </select>
        <br>
        <h4 style="color: darkred;">Selected Car Brand: <small>{{model}}</small></h4>
    </div>
    <br>
    <p>-----------------------------------------------------------------------------------------------</p> 
    <div>
        <h3 class="mb-3">Interface-Model Class Example</h3>
        <p><strong>Brand Name:</strong> {{ car.brand }}</p>
        <p><strong>Model Name:</strong> {{ car.model }}</p>
        <p><strong>Model Year:</strong> {{ car.year }}</p>
      </div>
      <br>
      <p>-----------------------------------------------------------------------------------------------</p> 
      <!-- <div>
        <h3>Two-Way Data Binding</h3>
        <label for="age">Your Age</label>
          <input type="number" name="age" id="age" [(ngModel)]="age" min="0" max="80">
          <p *ngIf="age == null">Age Cannot Be Null!</p>
          <p *ngIf="age >= 18">You can get your driver licence!</p>
          <p *ngIf="age < 18 && age >= 1">You can't get driver licence!</p> 
    </div> -->
    <br>
    <h3>Two-Way Data Binding Example</h3>
    <br>

    <h4>Register Form</h4>
    <form class="bg-light p-5" style="border-radius: 20px;">
        <div class="mb-3">
            <label for="firstName" class="form-label">First Name</label>
            <input type="text" class="form-control" id="firstName" name="firstName">
        </div>
          <div class="mb-3">
            <label for="lastName" class="form-label">Last Name</label>
            <input [(ngModel)]="lastName" type="text" class="form-control" name="lastName" id="lastName">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail" class="form-label">Email Address</label>
          <input type="email" class="form-control" id="eMail" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword" class="form-label">Password</label>
          <input type="password" class="form-control" id="password">
        </div>
        <button onclick="alert('Registered Successfully')" type="submit" class="btn btn-primary">Register</button>
        <br>
        <p *ngIf="firstName == null" id="firstName">First Name Cannot Be Null!</p>
        <p *ngIf="lastName.length <= 2" id="lastName">Last name alanı için iki karakterden fazla veri girmelisiniz </p>
        <p *ngIf="eMail == null">Email Cannot Be Null!</p>
        <p *ngIf="password == null">Password Cannot Be Null!</p>
      </form>
      <br><br><br>
      
      <h1>İki Yönlü Veri Bağlama Örneği</h1>
      <br>
        <label><b>Enter your name</b></label>
        <input class="form-control" type="text" [(ngModel)]="name2"/>
        <br>
        <p>Merhaba, {{name2}}</p>
        <p *ngIf="name2.length<2" id="name">First Name Cannot Be Null!</p>       
        <br><br><br>
        <br><br><br>
        <br><br><br>
</div>